
body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.roll {
  border: 2px solid rgb(95 97 110);
  border-radius: 0.5em;
  height: 25px;
  width: 125px;
  background-color: rgb(97, 100, 120);
  
  
  

 
  
}

.container {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  font: 1.2em sans-serif;
  margin-top: 100px;
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


a:hover {
   height: 30px;
   width: 130px;
   border-radius: 1.5em;
   color:aliceblue;
}
.dice {
  border: 2px solid black;
  border-radius: 0.5em;
  height: 100px;
  width: 100px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  display: none;
  margin: 4px;
}


